<div class="userId-container">
    <div class="user-items user-id">
        <%= image_tag(@user.photo || '', class: "user-image") %>
        <div class="name-post">
            <h2><%= @user.name %></h2>
            <span>Number of posts: <%= @user.posts.count %> </span>
        </div>
    </div>
    <div class="bio-details">
        <h3>Bio</h3>
        <span class="bio-text">
            <%= @user.bio %>
        </span>
    </div>

    <div class="collection">
        <%= render partial: 'partials/post', collection: @user.three_most_recent_posts, as: :post %>
    </div>
    <button class="btn-users">
    <a class="btn-link" href="/users/<%= @user.id %>/posts">See all posts</a>
    </button>
</div>