<div>
    <div class="user-items user-posts">
        <%= image_tag(@user.photo || '', class: "user-img") %>
        <div class="name-post">
            <h2 class="username"><%= @user.name %></h2>
            <span>Number of posts: <%= @user.posts.count %> </span>
        </div>
    </div>

    <% if @user == current_user %>
      <%= link_to "Creat New post", new_user_post_path %>   
  <% end %>

    <div class="posts-wrapper">
        <%- @posts.includes(:author).each do |post| -%>
            <div class="post-card">
            <h3>
            <a href="/users/<%= @user.id %>/posts/<%= post.id %>"><%= post.title %></a>
            </h3>
                <p><%= post.text %></p>
                <div class="post-counter">
                    <span>Comments: <%= post.comments_counter %></span>
                    <span>Likes: <%= post.likes_counter %></span>
                </div>
                
            </div>
            <% unless post.five_most_recent_comments.empty? %>
            <div class="comments">
              <% post.five_most_recent_comments.each do |comment| %>
                    <div>
                        <span><%= comment.author.name  %>: </span>
                        <span><%= comment.text  %></span>
                    </div>
                <%-end-%>
            </div>
            <% end %>        
        <%-end-%>
    </div>
    <%= will_paginate @posts, class: "pagination" %>
</div>